*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mountains of Christmas', cursive;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%; 
    overflow-x: hidden; 
}
nav .logo img{
    height: 80px;
    width: auto;
    transition: transform 0.8s ease-in-out; 
}
nav .logo img:hover {
    transform: rotate(360deg);
}
nav{
    max-width: auto;
    margin: 0 auto;
    min-height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-image: url("./images/istockphoto-683267846-1024x1024.jpg");
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position:relative;
    top: 0;
}
nav li{
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
}
nav li a{
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 0.75rem;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 4px;
}
nav li a:hover{
    color: #2c8d21;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 0 15px;
}
ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
header{
    background-image: url('./images/xmasnewheader.png');
    width:100%;
    height:30vh;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    justify-content: flex-end;
    align-items:end;
}

/* Parallax sections */
.parallax{
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
    overflow: hidden; 
}
.parallax-1{
    background-image: url('./images/fantasy-4656186_640.jpg');
}

.parallax-2{
    background-image: url('./images/santasCabin.jpg'); 
}
.parallax-3{ 
    background-image: url('./images/backgroundtest.jpg'); 
}

.parallax-4{
    background-image: url('./images/wishlistbg.jpg'); 
}
.parallax .content{
    text-align: center;
    padding: 20px;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
}
.text-section{
    padding: 40px 20px;
    background-color: #f4f7f6; 
    text-align: center;
}
.text-section h2{
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}
.text-section p{
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
}
.parallax button{
    color: #fff;
    background-image: url("./images/istockphoto-683267846-1024x1024.jpg");
    background-position: center;
    background-size: cover;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}
.parallax button a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.parallax button a:hover{
    color: #2c8d21;
}

.helpers-main{
    background-image: url('./images/background-workshop.jpg');
    background-position: center;
    background-size: cover;
}
.profile-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
main h1{
    text-align: center;
    color: #fff;
    font-size: 45px;
    font-weight: bold;
}
.profile{
    width: 200px; 
    height: 300px;
    background-color: #f7f7f7;
    border: 2px solid red; 
    border-radius: 50%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 10px; 
    text-align: center; 
    overflow: hidden;
}

.profile img{
    width: 100px; 
    height: 120px;
    object-fit: cover; 
    border-radius: 50%; 
    margin-bottom: 10px; /
}
.profile h2{
    font-size: 1.2em;
    margin: 5px 0;
    color: #333;
}
.profile p{
    font-size: 1em;
    color: #666;
}
.worker-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px; 
    padding: 20px;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    margin: 0 auto; 
    text-align: center; 
}
.worker{
    border-radius: 10px;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7; 
    border: 2px solid red; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}
.worker img{
    width: 100px;
    height: 120px;
    object-fit: cover; 
    border-radius: 50%;
    margin-bottom: 10px
}
.one{
    background-image: url('./images/raindeer1.png');
}
.two{
    background-image: url('./images/raindeer2.png');
}
.three{
    background-image: url('./images/raindeer3.png');
}
.four{
    background-image: url('./images/raindeer4.png');
}
.five{
    background-image: url('./images/raindeer5.png');
}
.six{
    background-image: url('./images/raindeer6.png');
}
.seven{
    background-image: url('./images/raindeer7.png');
}
.eight{
    background-image: url('./images/raindeer8.png');
}
.container-slider{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 300px; 
    overflow: hidden; 
    margin: 0px auto;
    gap: 10px;
}
.panel{
    flex: 1; 
    height: 100%; 
    border-radius: 10px;
    background-size: cover; 
    background-position: center;
    cursor: pointer;
    transition: flex 0.7s ease-in-out; 
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    color: white;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}
.panel h3{
    position: absolute;
    bottom: 40px;
    left: 20px;
    opacity: 0;
    font-size: 30px;
    color: red;
}
.panel.active{
    flex: 5;
}
.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.wish-main{
    background-image: url("./images/wishlistsanta.jpg");
    background-size: cover;
    background-position:center;
    width: 100%;
    height: auto;
    text-align: center;
}
.wish-main h1{
    color: rgb(51, 50, 50);
}
form{
    margin: 0px auto;
    padding: 15px;
    position: relative;
    max-width: 400px;
    margin: 0px auto;
    margin-top: 20px;
    padding: 15px;
    background: #fff; 
    background-color: transparent;
}
input, textarea{
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #d4af8c;
    padding: 5px;
    width: calc(100% - 20px); 
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
textarea{
    line-height: 1.6;
    background-image: linear-gradient(to bottom, #e8dcc8 1px, transparent 1px);
    background-size: 100% 24px; 
    resize: none; 
}
.wish-main button{
    color: #fff;
    background-image: url("./images/istockphoto-683267846-1024x1024.jpg");
    background-position: center;
    background-size: cover;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.wish-main button:hover{
    color: #2c8d21;
    background-color: #fff; 
    border: 2px solid #2c8d21;
}
footer{
    background-image: url(./images/footer.jpeg);
    width:100%;
    height:20vh;
    background-position:center;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items:end;
    position: relative;
    color: #fff; 
    text-align: end;
    padding: 20px;
}
canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
